#left{
    align-items:left;
}

#leaders{
margin:20px;
display: grid;
}


.imgRedonda {
    width:66px;
    height:66px;
    border-radius:33px;
}

#corporateTitle{
    margin:20px;
    text-align: center;
    background-color: aliceblue;
}