<mat-toolbar color="primary" >
    Login
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<p>{{user | json}}</p>

<!--el atributo novalidate permite que angular se encargue
de la validación de formularios y no el html.-->
<form novalidate (ngSubmit)="onSubmit()">
<mat-dialog-content>
    <p>
        <mat-form-field>
            <input matInput placeholder="Username" type="text"
         [(ngModel)]="user.username" name="username">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" type="password"
         [(ngModel)]="user.password" name="password">
        </mat-form-field>
        <mat-checkbox [(ngModel)]="user.remember" name="remember">Remember me</mat-checkbox>
    </p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" class="background-primary text-floral"></button>
</mat-dialog-actions>
</form>